<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baba yaga</title>
    <link rel="stylesheet" href="./css/w3.css">
    <link rel="stylesheet" href="./css/index.css">

</head>
<body>
    <div class="content">

  
        <div class="centralizado">
            <div class="nav w3-bar w3-border  w3-padding w3-margin">
                <a href="#" class="w3-bar-item w3-button w3-padding-32">Home</a>
                <a href="#" class="w3-bar-item w3-button w3-padding-32">Alterar ficha</a>
                <a href="#" class="w3-bar-item w3-button w3-padding-32">loja</a>
                <a href="#" class="w3-bar-item w3-button w3-padding-32">Perfil</a>
                <a href="#" class="w3-bar-item w3-button w3-padding-32">sair</a>
              </div>
        </div>

        <div class="centralizado">
            <div class="w3-row conteudo ">
                <div class="w3-col m4 colum-esquerdo  ">
                    <div class="w3-card-4 card w3-center ">
                        <div class="w3-container w3-center w3-text-white">
                            <h4><b>Jane willians</b></h4>
                          </div>
                        <div class="centralizado">
                          
                        <img src="./img/img_avatar3.png" class=" w3-margin Person " alt="Person">
                        </div>
                        <div class="centralizado">
                            <div class="w3-responsive">
                                <table class="w3-table w3-striped w3-border">
                                    
                                    <tr>
                                        <th>Informação</th>
                                        <th>Valor</th>
                                    </tr>
                                    <tr>
                                        <td>Dinheiro</td>
                                        <td>R$ 500,00</td>
                                    </tr>
                                    <tr>
                                        <td>Vida</td>
                                        <td>13/15</td>
                                    </tr>
                                    <tr>
                                        <td>Sanidade</td>
                                        <td>100</td>
                                    </tr>
                                    <tr>
                                        <td>Apelido</td>
                                        <td>Joelho</td>
                                    </tr>
                                    <tr>
                                        <td>Idade</td>
                                        <td>15 anos</td>
                                    </tr>
                                    <tr>
                                        <td>Nacionalidade</td>
                                        <td>Brasileira</td>
                                    </tr>
                                </table>
                              </div>
                        </div>
                      
                    </div>
                        <div class="w3-center w3-text-white">
                            <h2 class="w3-center">Resumo da Historia</h2>
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, laboriosam. Pariatur repellendus sint commodi, quaerat reprehenderit laudantium, recusandae iure debitis nihil dolorem qui dolores nulla quae porro eum incidunt vero?</p>
                        </div>
                              
                              

                    
                    <hr>
                    <div class="items w3-text-white">
                        <h2>Items</h2>
                        <select class="w3-select" name="option">
                            <option value="" disabled selected>items</option>
                            <option value="1">poção</option>
                            <option value="2">arma segundaria</option>
                            <option value="3">mapa</option>
                          </select>
                          <button class="w3-button w3-ripple  w3-block">Usar</button>
                    </div>
                    <div class="dados w3-text-white">
                       
                        <h2>Dados</h2>
                        <select class="w3-select" name="option">
                            <option value="" disabled selected>Dados</option>
                            <option value="1">D3</option>
                            <option value="2">D4</option>
                            <option value="3">D6</option>
                            <option value="1">D8</option>
                            <option value="2">D10</option>
                            <option value="3">D12</option>
                            <option value="2">D20</option>
                          </select>
                          <button class="w3-button w3-ripple  w3-block">Jogar</button>
                    </div>

                    <br/>
                    <br/>
                </div>

                <!-- chat -->
                <div class="w3-col m5  w3-center ">
                    <div class="centralizado">
                        <div class="w3-conatiner w3-padding titutlo-chat">
                            <h3>chat</h3>
                        </div>
                    </div>
                  
                    <div class="centralizado">
                        <div class="chat-container ">
                            <div class="lado-esquerdo">
                                <label >Mensagem lado esquerdo1</label>
                                <p>ola mundo
                                    lo
                                </p>
                            </div>
                            <div class="lado-direito">
                                <label >Mensagem lado direito2</label>
                                <p>ola mundo!</p>
                            </div>
                        </div>
                    </div>

                   

                     <!-- fim de chat -->
                    <div class="centralizado">
                        <div class="container-envia-Mensagem">
                            <textarea name="" id="" cols="30" rows="10"></textarea>
                            <button type="button" class="">Enaviar</button>
                        </div>
                    </div>

                </div>
               

                <div class="w3-col m3 background   w3-center">
   <div class="centralizado">
    <div class="w3-responsive ">
        <table>
            <tr>
         
                <th><h2>Atributos</h2></th>
                <th>  <h2>Valores</h2></th>
            </tr>
            <tr>
                <td>Força</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Destreza</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Constituição</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Inteligência</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Carisma</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Percepção</td>
                <td>2</td>
            </tr>
        </table>
    
        <table>
            <tr>
                <th><h2>Habilidades</h2></th>
            </tr>
            <tr>
                <td>Armas de longo alcance</td>
            </tr>
            <tr>
                <td>Botânica</td>
            </tr>
        </table>
    </div>
   </div>
                    
                    
                </div>
              </div>


        
        </div>
    </div>
    
    <div class="centralizado">
        <div class="footer w3-padding-32">
            Baba Yaga RPG | FEITO POR: WELLINGTON PONTES
        </div>
    </div>
      
    
</body>
</html>